html
  head
  style.
   body{ 
     background-color: rgb(172, 205, 248);
   }
   .container {
       display:flex;
       flex-wrap: wrap;
       margin-top: 15%;
       margin-left: 27%;
       margin-right: 27%;
       gap: 20px;
   }
   .prime{
     color: azure;
     height: 50px;
     width: 50px;
     text-align: center;
     border-radius: 7px;
     background-color: rgba(206, 224, 219, 0.883);
     font-size:100%;  
   }
    title= title
  body
    .container 
       .prime #{prime1}
       .prime #{prime2}
       .prime #{prime3}
       .prime #{prime4}
       .prime #{prime5}
       .prime #{prime6}
       .prime #{prime7}
       .prime #{prime8}
       .prime #{prime9}
       .prime #{prime10}
